body {
  background-color: #5ca6b9a2;
  margin: auto;
}

body img {
  width: 80vw;
  display: block;
  margin: auto;
  border-radius: 80px;
  /* box-shadow: 0 0 8px 8px #5ca6b9 inset; */
}

#appetizerContent img {
  width: 25vw;
}
