body {
  background-color: #5ca6b9a2;
  margin: auto;
  text-align: center;
}

body h1 {
  margin-top: 0;
}

body img {
  /* width: 80vw; */
  height: min(30vh, 300px);
  display: block;
  margin: auto;
  border-radius: 80px;
  /* box-shadow: 0 0 8px 8px #5ca6b9 inset; */
}

.menuItems img {
  /* width: max(175px, 20vw); */
  width: 175px;
}
#hours ul {
  list-style-type: none;
  padding: 0;
}

#buttonWrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 15px;
}
#buttonWrapper button {
  background-color: #ffffffa1;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#content section {
  border-bottom: 1px solid black;
}

#appetizerWrapper,
#mainsWrapper,
#dessertsWrapper {
  display: flex;
}
