body {
  background-color: #5ca6b9a2;
  margin: auto;
  text-align: center;
}

body img {
  width: 80vw;
  display: block;
  margin: auto;
  border-radius: 80px;
  /* box-shadow: 0 0 8px 8px #5ca6b9 inset; */
}

.menuItems img {
  /* width: max(175px, 20vw); */
  width: 175px;
}
#hours ul {
  list-style-type: none;
}
